<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" routerLink="/invoices"><img src="/assets/logo.png" height="24" alt=""></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse w-100 navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">

        <li class="nav-item">
          <a class="nav-link" routerLink="/invoices" routerLinkActive="active">Facturas</a>
        </li>
      </ul>

      <ul class="navbar-nav ms-auto">
        <ng-container *ngIf="!authService.logged(); else logged">
          <li class="nav-item">
            <a class="nav-link" routerLink="/signup" routerLinkActive="active">Iniciar Sesión</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/signin" routerLinkActive="active">Registrarse</a>
          </li>
        </ng-container>

        <ng-template #logged>
          <li class="nav-item">
            <a class="nav-link" routerLink="/logout" (click)="authService.logout()" routerLinkActive="active">Salir</a>
          </li>
        </ng-template>

      </ul>
    </div>
  </div>
</nav>
<div class="container p-md-5">
  <router-outlet></router-outlet>
</div>
