<div class="row">
  <div class="col-sm-4 mx-auto">
    <div class="card">
      <div class="card-header">
        Iniciar Sesión
      </div>
      <div class="card-body py-md-5">
        <form (submit)="signUp()">
          <div class="row">
            <div class="col-sm-8 mb-3 mx-auto">
              <input type="text" name="number" [(ngModel)]="user.number" placeholder="Numero" required autofocus
                class="form-control">
            </div>
          </div>
          <div class="row">
            <div class="col-sm-8 mb-3 mx-auto">
              <input type="password" name="password" [(ngModel)]="user.password" placeholder="Contraseña" required
                autofocus class="form-control">
            </div>
          </div>
          <div class="row">
            <div class="col-sm-8 mx-auto text-center">
              <button class="btn btn-block btn-secondary">
                Iniciar Sesión
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>

  </div>
</div>
